body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #343a40;
}

.listings-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha conforme necessário */
    gap: 15px; /* Espaço entre os itens */
    justify-content: space-between; /* Distribui os itens igualmente na linha */
}


.listing-content {
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
}

.listing {
    display: flex;
    flex-direction: column; /* Mantém a imagem acima do conteúdo */
    align-items: center; /* Centraliza os itens */
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    width: calc(25% - 15px); /* 4 itens por linha */
    box-sizing: border-box;
    text-align: center;
}

.listing h3 {
    margin-top: 0;
}

.listing p {
    margin: 5px 0;
}

.listing-image {
    max-width: 100%;  /* Garante que a imagem não ultrapasse a largura da coluna */
    max-height: 300px; /* Limita a altura para evitar imagens muito altas */
    width: auto;  /* Mantém a proporção original */
    height: auto; /* Mantém a proporção original */
    object-fit: contain; /* Garante que a imagem não seja cortada */
    display: block; /* Remove espaços extras abaixo da imagem */
    margin: 0 auto; /* Centraliza a imagem */
}




.view-listing-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.view-listing-link:hover {
    background-color: #0056b3;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Todos os cards terão a mesma altura */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
