{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="text-center">Active Listings</h2>
    <div class="container mt-4">
        <form method="get" action="{% url 'index' %}" class="row g-2 align-items-center mb-4">
            <div class="col-auto">
                <select name="category" id="category" class="form-select form-select-sm rounded-lg p-1">
                    <option value="">All Categories</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                            {{ category.categoryName }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="bi bi-funnel"></i> Filter
                </button>
            </div>
        </form>
        <div class="container mt-4">
            <div class="row listings-container">
                {% for listing in listings %}
                    <div class="col-md-3 col-sm-6 mb-4 listing"> <!-- 4 por linha em telas médias -->
                        <div class="card">
                            {% if listing.image_url %}
                                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="listing-image card-img-top border-hover">
                            {% else %}
                                <img src="https://via.placeholder.com/150" alt="No image available" class="listing-image card-img-top border-hover">
                            {% endif %}
                            <div class="card-body text-center listing-content">
                                <h5 class="card-title">{{ listing.title }}</h5>
                                <p class="card-text">${{ listing.starting_bid }}</p>
                                <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-sm view-listing-link">Detail</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
