{% extends "network/layout.html" %}

{% block body %}
    <h1>Todos as Postagens</h1>
    {% if user.is_authenticated %}
        <h2>Novo Post</h2>
        <form action="{% url 'newPost' %}" method="post" class="new-post">
            {% csrf_token %}
            <textarea name="content" rows="2" placeholder="Escreva seu post aqui..." style="width:100%;"></textarea>
            <br/>
            <input type="submit" value="Postar" class="btn btn-success" style="width:100%;"/>
        </form>
    {% endif %}

    <hr>
    {% for post in posts %}
        <div class="card my-2">
            <div class="card-body">
                <a href="{% url 'profile' post.user.username %}">
                    {{ post.user.username }}
                </a>
                <p>{{ post.content }}</p>
                <span class="text-muted">Curtidas: 0</span>
            </div>
        </div>
    {% empty %}
        <p>Nenhuma postagem ainda.</p>
    {% endfor %}
{% endblock %}
